# Oscillator
set_io              clk     21

# LEDs
set_io              led[4]  99
set_io              led[1]  98
set_io              led[0]  97
set_io              led[3]  96
set_io              led[2]  95

# PMOD I/O
set_io  -pullup yes top_button 78
set_io  -pullup yes top_middle_button 79
set_io  -pullup yes bottom_middle_button 80
set_io  -pullup yes bottom_button 81